<div class="messageForMove">

  <p mat-dialog-title>Move Publication To Category?</p>
  <p>Are you sure you want to move <b> "{{publicationName}}"</b> ?</p>

  <mat-selection-list #list [multiple]="false">
    <mat-list-option *ngFor="let category of categories" [value]="category" (click)="toogleMessage()">
      {{category.name}}
    </mat-list-option>
  </mat-selection-list>
  <p>
    You selected: <b>{{list.selectedOptions.hasValue() ? list.selectedOptions.selected[0].value.name : "None"}}</b>
  </p>


</div>

<div class="messageForChooseCategory" *ngIf="displayMessage">
  <p>Please choose Category</p>
</div>


<mat-dialog-actions>
  <button class="mat-raised-button" mat-dialog-close>Cancel</button>
  <button class="mat-raised-button mat-primary" (click)="move()">Move</button>
</mat-dialog-actions>