<div class="fullContent">
  <div class="fullBody">

    <mat-card class="header mat-elevation-z0">
      <h1>Welcome to Academic Net - Your Gateway to the World of Scientific Discovery!</h1>
    </mat-card>

    <mat-card class="headerButtons mat-elevation-z0">
      <button mat-raised-button color="primary" routerLink="/signup">Join</button>
    </mat-card>




  </div>

  <div class="otherBody mat-elevation-z0">
    <mat-card class="mat-elevation-z0">
      <h3>Discover, Connect, and Stay Informed about the latest advancements in science and research. Join our community
        of scholars, researchers, and enthusiasts to explore a wealth of scientific knowledge and build meaningful
        connections.
        Unlock the doors to a world of innovation and stay connected with the forefront of scientific exploration. Start
        your journey with us today.</h3>
    </mat-card>
  </div>


  <div class="steps mat-elevation-z0">
    <div class="cards">
      <mat-card class="mat-elevation-z8"><span class="material-symbols-outlined">
          person
        </span>
        <h2>Create and account</h2>
      </mat-card>
      <mat-card class="mat-elevation-z8"><span class="material-symbols-outlined">
          upload_file
        </span>
        <h2>Upload your publications</h2>
      </mat-card>
      <mat-card class="mat-elevation-z8"><span class="material-symbols-outlined">
          search
        </span>
        <h2>Search publications</h2>
      </mat-card>
      <mat-card class="mat-elevation-z8"><span class="material-symbols-outlined">
          hub
        </span>
        <h2>Connect with users</h2>
      </mat-card>
    </div>
  </div>


  <div class="communication">



    <mat-list role="list">
      <mat-list-item role="listitem">About Us</mat-list-item>
      <mat-list-item role="listitem">Help Center</mat-list-item>
      <mat-list-item role="listitem">Terms</mat-list-item>
      <mat-list-item role="listitem">Privacy</mat-list-item>
      <mat-list-item role="listitem">Copyright</mat-list-item>
    </mat-list>

    <mat-list role="list">
      <mat-list-item role="listitem">Researchers</mat-list-item>
      <mat-list-item role="listitem">Publications</mat-list-item>
      <mat-list-item role="listitem">Communication</mat-list-item>
      <mat-list-item role="listitem">© 2023 Academic Net.</mat-list-item>
    </mat-list>

  </div>

</div>