.usersFullBody {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.user {
  width: 80%;
  margin-bottom: 3%;
}

.filter,
.status {
  width: 80%;
  margin-bottom: 3%;
}

.filter mat-form-field,
.status mat-form-field {
  width: 100%;
}



.user mat-card-header button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 30px;
}

mat-list-item span {
  margin-left: 1%;
}