<div class="fullBodyCV" id="htmlData">

  <div class="headerBody">
    <h1>
      <button mat-icon-button class="helpClass"
        matTooltip="You can select the desired file format for your CV and indicate whether you want to include a photo."
        matTooltipClass="custom-tooltip-class">
        <mat-icon><span class="material-symbols-outlined">
            download
          </span></mat-icon>
      </button>Download your CV:
    </h1>

  </div>

  <div class="body">

    <div class="docTypeDiv" (click)="exportDocTypeCv()">
      <span class="material-symbols-outlined">
        description
      </span>
      <h1>Doc Type Resume</h1>

    </div>

    <div class="pdfTypeDiv" (click)="exportPdfTypeCv()">
      <span class="material-symbols-outlined">
        description
      </span>
      <h1>PDF Type Resume</h1>
    </div>

  </div>

  <div class="option">
    <mat-checkbox [(ngModel)]="photoOption" (change)="toggleOption($event)">Include Photo Profile</mat-checkbox>
  </div>

  <div class="actions">
    <button mat-button (click)="closeDialog()">Close</button>

  </div>

</div>