<div class="portalBody">


  <div class="infoTitle">

    <h1>Welcome to Publication Create Portal.</h1>
    <h1>Choose the way to add new publication.</h1>

  </div>


  <div class="buttonsPortal">

    <mat-card class="example-card-add" (click)="navigateToMulipleAdd()">
      <mat-card-header>
        <mat-card-title>Add Multiple Publications</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Easily add multiple publications. We'll use your name to locate your research publications effortlessly!</p>
      </mat-card-content>
    </mat-card>


    <mat-card class="example-card-add" (click)="navigateToSingleAdd()">
      <mat-card-header>
        <mat-card-title>Add Single Publication</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>You can add a single publication by providing the necessary details for the publication you'd like to
          include.</p>
      </mat-card-content>
    </mat-card>

  </div>

</div>