<div class="messageForDeletionHeader">

  <p mat-dialog-title>Delete Publications?</p>
  <p>Are you sure you want to delete <b> "{{publicationName}}"</b> ?</p>
  <p>You can undo this action.</p>

</div>

<div class="messageForDeletionBody">
  <h2><span class="material-symbols-outlined">
      warning
    </span>Warning</h2>
  <p mat-dialog-content>
    Deleting the publication will result in the removal of all associated information.
    <b>'Cancel'</b>
  </p>

</div>



<mat-dialog-actions>
  <button class="mat-raised-button" mat-dialog-close="">Cancel</button>
  <button class="mat-raised-button mat-warn" (click)="delete()">Delete</button>
</mat-dialog-actions>