<div class="fullBody">

  <mat-card class="mat-elevation-z0" routerLink="/requests/send">
    <mat-card-header>
      <mat-card-title align="midlle">
        Request Sent <span class="material-symbols-outlined">
          send
        </span>
      </mat-card-title>
    </mat-card-header>
  </mat-card>


  <mat-card class="mat-elevation-z0" routerLink="/requests/received">
    <mat-card-header>
      <mat-card-title align="center">
        Request Received <span class="material-symbols-outlined">
          call_received
        </span>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

</div>